<div class="jumbtron">
    <h1 class="display-4 text-center">VEDUBOX</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="column">
                <h1 class="display-4 text-center">TEACHER DEMO</h1>
                <button type="submit" class="btn btn-lg btn-block">
                    <a class="nav-link" routerLink="/teacher" routerLinkActive="active">BEGIN</a>    
                </button>
            </div>      
        </div>
        <div class="col-md-7">
            <div class="column">
                <h1 class="display-4 text-center">STUDENT DEMO</h1>
                <button type="submit" class="btn btn-lg btn-block">
                    <a class="nav-link" routerLink="/student" routerLinkActive="active">BEGIN</a>    
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-block">
            <a class="nav-link" routerLink="/admins" routerLinkActive="active">SUPER SECRET ADMIN PAGE</a>    
        </button>
    </div>
</div>
